Django
django-jet
django-rest-auth
djangorestframework
django-cors-headers
djangorestframework-jwt
psycopg2
gunicorn
pyyaml
ptvsd
django-countries
boto3
django-storages
Pillow
numpy
pandas
sklearn
keras
scipy
tensorflow